* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-height: 100vh;
}

.section_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#466b9f), color-stop(#43628f), color-stop(#3f597f), color-stop(#3b5070), to(#374761));
  background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
  height: 100vh;
  font-family: "Raleway", sans-serif;
  color: white;
}

.section_main .main_logo {
  height: 25%;
  text-shadow: 1px 1px 2px black;
}

.section_main h2 {
  margin: 0px auto 20px auto;
  font-size: 2.5em;
}

.section_main h1 {
  font-size: 16px;
  font-weight: 100;
  margin: 0px auto 15px auto;
  text-transform: uppercase;
  text-align: center;
}

.section_main .main_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #576578;
  width: 100%;
}

.section_main .main_form .input_container {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_main .main_form .input_container i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 50px;
  width: 50px;
  font-size: 15px;
  background-color: #15e8d3;
}

.section_main .main_form .input_container input[type=text] {
  color: gray;
  outline: none;
  border: none;
  border-bottom: 1px solid #707070;
  background-color: transparent;
  padding-left: 5px;
  width: 280px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 16px;
}

.section_main .main_form .input_container input[type=text]:focus {
  border-bottom: 1px solid #15e8d3;
  color: white;
}

.section_main .main_form .password_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_main .main_form .password_container i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 50px;
  width: 50px;
  font-size: 15px;
  background-color: #15e8d3;
}

.section_main .main_form .password_container input {
  color: gray;
  outline: none;
  border: none;
  border-bottom: 1px solid #707070;
  background-color: transparent;
  padding-left: 5px;
  width: 280px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 16px;
}

.section_main .main_form .password_container input:focus {
  border-bottom: 1px solid #15e8d3;
  color: white;
}

.section_main .main_form .password_container input:focus {
  border-bottom: 1px solid #15e8d3;
  color: white;
}

.section_main .main_form .btn_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#15e8d3), color-stop(#00dcd6), color-stop(#00cfd7), color-stop(#00c2d6), to(#01b5d1));
  background-image: linear-gradient(to right, #15e8d3, #00dcd6, #00cfd7, #00c2d6, #01b5d1);
  border: none;
  color: white;
  padding: 20px 40px;
  width: 200px;
  border-radius: 5px;
  margin: 20px auto 10px auto;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section_main .main_form .btn_login:hover {
  opacity: 0.8;
}

.section_main .main_form .a_forgot {
  color: gray;
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
}

.section_main .main_form .a_forgot:hover {
  color: white;
}

.section_main .main_form .btn_fb {
  background-color: #3b5998;
}

.section_main .main_form .btn_gmail {
  background-color: #d44638;
}

.section_main .main_form .btn_fb, .section_main .main_form .btn_gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto 5px auto;
  color: white;
  border: none;
  padding: 10px 40px;
  width: 300px;
  outline: none;
  cursor: pointer;
}

.section_main .main_form .btn_fb:hover, .section_main .main_form .btn_gmail:hover {
  opacity: 0.8;
}

.section_main .main_form .btn_fb img, .section_main .main_form .btn_gmail img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.section_main .main_form .or {
  color: white;
}

input[type=password] {
  text-align: left;
}

.main_container {
  height: 100vh;
  background-image: url(../images/maps.jpg);
  position: relative;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.main_logo-image {
  width: 70%;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

.main_dots {
  position: absolute;
  top: 0;
  left: 0;
}

.main_dots .dot {
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: scaling 2s ease-in-out infinite;
          animation: scaling 2s ease-in-out infinite;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
}

.main_dots .dot:nth-child(1) {
  background-color: #7A9D96;
  top: 150px;
  left: 35px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.main_dots .dot:nth-child(2) {
  background-color: #DCAE1D;
  top: 60px;
  left: 250px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.main_dots .dot:nth-child(3) {
  background-color: #00303F;
  color: white;
  top: 300px;
  left: 50px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main_dots .dot:nth-child(4) {
  background-color: #DCAE1D;
  top: 340px;
  left: 250px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.main_dots .dot:nth-child(5) {
  background-color: #CAE4DB;
  top: 350px;
  left: 100px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.main_dots .dot:nth-child(6) {
  background-color: #CAE4DB;
  top: 380px;
  left: 20px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main_dots .dot:nth-child(7) {
  background-color: #DCAE1D;
  top: 380px;
  left: 300px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.main_container-items {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#466b9f), color-stop(#43628f), color-stop(#3f597f), color-stop(#3b5070), to(#374761));
  background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main_container-items .main_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  outline: none;
  border: none;
}

.main_container-items .main_form::before {
  content: "Location";
  width: 20%;
  height: 50px;
  position: absolute;
  right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
  text-align: center;
}

.main_container-items .main_form .form_div {
  font-size: 25px;
  padding: 5px 60px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
}

.main_container-items .main_form .form_div i {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main_container-items .main_form input[type=text] {
  width: 95%;
  height: 50px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
}

.main_container-items .main_select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  gap: 20px;
}

.main_container-items .main_select-container .main_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  width: 140px;
  height: 140px;
  color: white;
  font-size: 1.5em;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 80px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 80px 80px rgba(0, 0, 0, 0.12);
}

.main_container-items .main_select-container .main_btn:hover {
  opacity: 0.8;
}

.main_container-items .main_select-container .main_btn .main_btn-img {
  width: 50%;
  margin-bottom: 10px;
}

.main_container-items .main_select-container .main_btn:nth-child(1) {
  background-color: #DCAE1D;
}

.main_container-items .main_select-container .main_btn:nth-child(2) {
  background-color: #659EBC;
}

.main_container-items .main_select-container .main_btn:nth-child(3) {
  background-color: #389583;
}

.main_container-items .main_select-container .main_btn:nth-child(4) {
  background-color: #1A0061;
}

.main_container-items .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.main_container-items .main_menu .main_menu-options {
  text-decoration: none;
  color: black;
  padding: 2px 0;
}

.main_container-items .main_menu .main_menu-options .click {
  border-bottom: #3ebdaf;
}

.animate {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.noAnimate {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.rotation {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7;
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7;
  }
}

.rating_container {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#466b9f), color-stop(#43628f), color-stop(#3f597f), color-stop(#3b5070), to(#374761));
  background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
  position: relative;
}

.back_btn {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #DCAE1D;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

.raiting_container-top .raiting_img-top {
  height: 30vh;
  width: 100%;
}

.raiting_container-top .raiting_name {
  font-size: 25px;
  padding: 5px 0;
  color: white;
  margin-left: 20px;
}

.rate_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  -webkit-box-shadow: 0px -10px 50px 10px rgba(50, 50, 50, 0.64);
          box-shadow: 0px -10px 50px 10px rgba(50, 50, 50, 0.64);
}

.rate_container .rate_progress {
  height: 150px;
  -webkit-animation: rate 0.5s ease-in-out forwards;
          animation: rate 0.5s ease-in-out forwards;
}

.rate_container .rate_container-score {
  font-size: 20px;
}

.rate_container .rate_container-score p {
  position: relative;
  margin-bottom: 15px;
}

.rate_container .rate_container-score p::before {
  content: '';
  width: 20px;
  height: 4px;
  position: absolute;
  bottom: -8px;
  left: 0;
  -webkit-animation: score 1.2s ease-in-out forwards;
          animation: score 1.2s ease-in-out forwards;
}

.rate_container .rate_container-score p:nth-child(1)::before {
  width: 80px;
  background-color: #15e8d3;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.rate_container .rate_container-score p:nth-child(2)::before {
  width: 40px;
  background-color: #DCAE1D;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.rate_container .rate_container-score p:nth-child(3)::before {
  width: 10px;
  background-color: #7A9D96;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.rate_thumbs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  width: 80%;
  margin: 10px auto;
}

.rate_thumbs-container .thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  border: none;
  font-size: 50px;
  color: white;
  font-weight: 100;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.rate_thumbs-container .thumbs:hover {
  opacity: 0.8;
}

.rate_thumbs-container .thumbs:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #15e8d3;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rate_thumbs-container .thumbs:nth-child(2) {
  background-color: #3b5998;
}

.rate_thumbs-container .thumbs:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #d44638;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rate_thumbs-container .rate_btn {
  pointer-events: none;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin: 0 auto;
  width: 90%;
  height: 65vh;
  background-color: white;
  border-radius: 5px;
  font-size: 30px;
  -webkit-box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.modal .modal_close {
  position: absolute;
  top: 0px;
  right: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-decoration: none;
  color: black;
}

.modal .modal_star {
  color: #DCAE1D;
  font-size: 200px;
  text-shadow: 1px 1px 2px black;
}

.modal .modal_star i {
  pointer-events: none;
}

.modal .modal_text span {
  color: #DCAE1D;
  font-size: 60px;
}

.modal .modal_textarea {
  width: 80%;
  padding: 10px;
  resize: none;
  margin-top: 10px;
}

.modal .modal_textarea:focus {
  outline: none;
  border: 1px solid #15e8d3;
}

.modal_active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.rate_img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
}

.rate_img-container .rate_img {
  height: 120px;
  -ms-flex-wrap: 1;
      flex-wrap: 1;
}

@-webkit-keyframes score {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes score {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rate {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes rate {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.search_container {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#466b9f), color-stop(#43628f), color-stop(#3f597f), color-stop(#3b5070), to(#374761));
  background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
}

.search_container input[type=text] {
  text-align: center;
  width: 60%;
  height: 50px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
}

.search_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
}

.search_filter {
  display: block;
  color: white;
  text-decoration: none;
  background-color: #3b5998;
  padding: 3px 6px;
  margin: 5px 0 2px 0;
  font-size: 14px;
}

.search_select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px auto;
}

.search_select-container .search_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  padding: 10px;
  width: 23%;
  color: white;
  font-size: 1em;
  margin: 10px 0 20px 0;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 80px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 80px 80px rgba(0, 0, 0, 0.12);
}

.search_select-container .search_btn:hover {
  opacity: 0.8;
}

.search_select-container .search_btn .search_btn-img {
  width: 30%;
  margin-bottom: 5px;
}

.search_select-container .search_btn:nth-child(1) {
  background-color: #7A9D96;
}

.search_select-container .search_btn:nth-child(2) {
  background-color: #DCAE1D;
}

.search_select-container .search_btn:nth-child(3) {
  background-color: #00303F;
}

.search_select-container .search_btn:nth-child(4) {
  background-color: #CAE4DB;
}

.search_places-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_place-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 10px;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.search_place-container .search_link {
  position: absolute;
  display: block;
  height: 60px;
  width: 95%;
  cursor: pointer;
  background-color: transparent;
}

.search_place-container .search_number {
  color: white;
}

.search_place-container .search_img {
  height: 50px;
}

.search_place-container .search_name {
  font-size: 20px;
}

.search_place-container .search_btn-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  padding: 5px;
  width: 15%;
  color: white;
  font-size: 1em;
  background-color: #DCAE1D;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 80px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 80px 80px rgba(0, 0, 0, 0.12);
}

.search_place-container .search_btn-name {
  font-size: 10px;
}

.search_place-container .search_btn-name .search_btn-img {
  width: 30%;
  margin-bottom: 5px;
}

.search_place-container .search_img-rate {
  height: 50px;
}

@media (max-width: 375px) {
  .section_main .main_logo {
    height: 20%;
  }
  .section_main h2 {
    margin: 0px auto 20px auto;
    font-size: 2.2em;
  }
  .main_select-container .main_btn {
    width: 120px;
    height: 120px;
  }
  .modal .modal_star {
    font-size: 150px;
  }
}

@media (max-width: 360px) {
  .section_main .main_logo {
    height: 18vh;
  }
  .section_main h2 {
    font-size: 2em;
  }
  .rate_img-container .rate_img {
    height: 100px;
    -ms-flex-wrap: 1;
        flex-wrap: 1;
  }
}

.me_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#466b9f), color-stop(#43628f), color-stop(#3f597f), color-stop(#3b5070), to(#374761));
  background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
  font-family: "Raleway", sans-serif;
}

.me_container-profile {
  text-align: center;
  color: white;
}

.me_container-profile .me_img {
  margin-top: 50px;
  height: 30vh;
  border-radius: 50%;
}

.me_container-profile .me_login {
  font-size: 30px;
  margin-bottom: 5px;
}

.me_container-profile .me_img-score {
  height: 25vh;
  margin: 15px auto;
}

.me_container-profile .me_btn {
  font-size: 25px;
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */