.me_container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
    font-family: $font;
}

.me_container-profile{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    
    .me_img{
        margin-top: 50px;
        height: 30vh;
        border-radius: 50%;
    }

    .me_login{
        font-size: 30px;
        margin-bottom: 5px;
    }

   .me_level{
       position: relative;
       height: 40px;
       border-radius: 50px;
       width: 70%;
       background-color: $logCol;
       margin: 15px auto;

       &::before {
       content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background-color: $mainCol;
    width: 70%;
    border-radius: 50px;
       }
   }

    .me_btn{
        font-size: 16px;
        margin: 5px;
    }
    .hr {
        width: 100%;
        margin: 10px;
        opacity: 0.1;
    }

    .me_extra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        gap: 8px;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 50px;
            border-top: 1px solid rgba(0,0,0,0.3);
            border-bottom: 1px solid rgba(0,0,0,0.3);
        }

        .me_reviews{
            border-bottom: 1px solid $mainCol;
        }
    }

    .me_bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        width: 80%;
        margin: 10px 0 0 0;
        .me_img-bottom{
            height: 50px;
           
        }
        .me_bottom-text{
            font-size: 10px;
        }
    }
}