@media (max-width: 375px) {
    .section_main{

        .main_logo{
            height: 20%;
        }

        h2{
            margin: 0px auto 20px auto;
            font-size: 2.2em;
        }
    }

   
        .main_select-container{

             .main_btn{
               width: 120px;
               height: 120px;
                }
            }


    .modal{
         .modal_star{
        font-size: 150px;
       }
    }

    .main_container-items{ 
        .main_select-container {
        width: 80%;
        .main_btn{
        height: 120px;
        width: 120px;
    }}}

}

@media (max-width: 360px) {
    .section_main{

        .main_logo{
            height: 18vh;
        }

        h2{
            font-size: 2em;
        }
    }
    .rate_img-container{

        .rate_img{
            height: 100px;
            flex-wrap: 1;
        }
    }

    .main_container-items{ 
        .main_select-container {
        width: 80%;
        .main_btn{
        height: 110px;
        width: 110px;
    }}}
}