@media (max-width: 375px) {
    .section_main{

        .main_logo{
            height: 20%;
        }

        h2{
            margin: 0px auto 20px auto;
            font-size: 2.2em;
        }
    }

    .modal{
         .modal_star{
        font-size: 150px;
       }
    }


    .rate_img-container{
        margin: 30px auto;
    }
}