.rating_container{
    font-family: $font;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #466b9f, #43628f, #3f597f, #3b5070, #374761);
    position: relative;

}

.back_btn{
position: absolute;
top: 3px;
left: 10px;
color: #DCAE1D;
font-size: 2.5em;
text-shadow: 1px 1px 2px black;
text-decoration: none;
}

.raiting_container-top{
 .raiting_img-top{
    height: 30vh;
    width: 100%;
 }
 .raiting_name{
     font-size: 25px;
     padding: 5px 0;
     color: white;
     margin-left: 20px;
 }
}

.rate_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;

    box-shadow: 0px -10px 50px 10px rgba(50, 50, 50, 0.64);
    
    .rate_progress{ 
        height: 150px;

        animation: rate 0.5s ease-in-out forwards;
           }
    .rate_container-score{
     font-size: 20px;
     p {
     position: relative;
     margin-bottom: 15px;

     &::before{
         content: '';
         width: 20px;
         height: 4px;
         position: absolute;
         bottom: -8px;
         left:0;
                 
         animation: score 1.2s ease-in-out forwards;
             
         
        }
        &:nth-child(1)::before{
            width: 80px;
            background-color: $mainCol;
            animation-delay: 0.1s;
        }
        &:nth-child(2)::before{
            width: 40px;
            background-color: #DCAE1D;
            animation-delay: 0.2s;
        }
        &:nth-child(3)::before{
            width: 10px;
            background-color: #7A9D96;
            animation-delay: 0.4s;
        }
     }
    
    }
}

.rate_thumbs-container {
display: flex;
justify-content: center;
align-items: center;
column-gap: 6px;
width: 80%;
margin: 10px auto;

.thumbs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: none;
    font-size: 50px;
    color: white;
    font-weight: 100;
    outline: none;
    cursor: pointer;
    transition: 0.6s;

    &:hover{
        opacity: 0.8;
    }

    &:nth-child(1){
        flex:1;
        background-color: $mainCol;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    &:nth-child(2){
        background-color: $fbCol;
    }

    &:nth-child(3){
        flex:1;
        background-color: $gmailCol;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        }
    }

    .rate_btn {
        pointer-events: none;
    }
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin: 0 auto;
    width: 90%;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.75);

    transition: 0.5s ease-in-out;


    .modal_close{
        position: absolute;
        top: 0px;
        right:15px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 40px;
        cursor: pointer;
        transition: 0.8s;
        text-decoration: none;
        color: black;
    }

    .modal_star{
    color: #DCAE1D;
    font-size: 120px;
    text-shadow: 1px 1px 2px black;
    i{
        pointer-events: none;
    }
    }

    .modal_text span{
        color: #DCAE1D;
        font-size: 60px;
    }

    .modal_textarea{
        width: 80%;
        padding: 10px;
        resize: none;
        margin-top: 10px;

        &:focus{
            outline: none;
            border: 1px solid $mainCol;
        }
    }

    .modal_add{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $mainCol;
        border: none;
        color: white;
        text-transform: uppercase;
        gap: 4px;
        cursor: pointer;
        margin-top: 15px;
        .modal_camera {
            font-size: 2em;
        }
    }
}

.modal_active {
    transform: translate(-50%, -50%) scale(1);
}

.wrong {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin: 0 auto;
    width: 90%;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.75);

    transition: 0.5s ease-in-out;


    .wrong_close{
        position: absolute;
        top: 0px;
        right:15px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 40px;
        cursor: pointer;
        transition: 0.8s;
        text-decoration: none;
        color: black;
    }

    .wrong_star{
    color: #DCAE1D;
    font-size: 120px;
    text-shadow: 1px 1px 2px black;
    i{
        pointer-events: none;
    }
    }

    .wrong_text span{
        color: #DCAE1D;
        font-size: 60px;
    }

    .wrong_textarea{
        width: 80%;
        padding: 10px;
        resize: none;
        margin-top: 10px;

        &:focus{
            outline: none;
            border: 1px solid $mainCol;
        }
    }

    .wrong_add{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $gmailCol;
        border: none;
        color: white;
        text-transform: uppercase;
        gap: 4px;
        cursor: pointer;
        margin-top: 15px;
        .wrong_camera {
            font-size: 2em;
        }
    }

    .wrong_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        font-size: 18px;
        margin: 10px auto;

        .wrong_btn{
        padding: 5px 10px;
        width: 50px;
        height: 30px;
        border-radius: 5px;
        background-color: $gmailCol;
        border: none;
        color: white;
        text-transform: uppercase;
        gap: 4px;
        cursor: pointer;
        margin-top: 15px;
        }
        .wrong_no {
            background-color: $mainCol;
        }
    }
}

.wrong_active {
    transform: translate(-50%, -50%) scale(1);
}


.rate_img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
   .rate_img{
       height: 120px;
       flex-wrap: 1;
   }
}

@keyframes score {
    0%{
        transform: translateX(-40px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes rate {
    0%{
        transform: scale(0.2);
        opacity: 0.3;
    }
   
    100% { 
        transform: scale(1);
        opacity: 1;
    }
}